# Default code owner for the entire repository
* @Saumya-Bhatt
* @SaumyaBhatt106

# Optional: Assign ownership to specific files or directories
# Example:
# /src/ @Saumya-Bhatt
# /docs/ @Saumya-Bhatt
